In [1]:
import pyodbc
print(pyodbc.drivers()) # to check all the sql driver in the computer

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server']

In [19]:
import pandas as pd
import pyodbc #odbc - open database connectivity
conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};" # sql server driver
    "Server=DESKTOP-PNNUK7T;" # my server name
    "Database=Employee;" # my data base name
    "Trusted_Connection=yes;" # if we are using windows authentication
)

# If we are using the sql authetication with User ID (UID) and Passwors (PWD), then the below code format works

# conn = pyodbc.connect(
#     "Driver={ODBC Driver 17 for SQL Server};"
#     "Server=YOUR_SERVER_NAME;"
#     "Database=YOUR_DATABASE_NAME;"
#     "UID=your_username;"
#     "PWD=your_password;"
# )


query = "SELECT Dept_NAME, Contact_no FROM Department" # writin the sql query here

df = pd.read_sql(query, conn)
print(df.head())

   Dept_NAME  Contact_no
0      Sales         110
1         HR         114
2  Acounting         113

C:\Users\Dell\AppData\Local\Temp\ipykernel_5628\131114980.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [15]:
df.isnull().sum() # we can start the data cleanig here

Dept_NAME     0
Contact_no    0
dtype: int64

## API database connection

In [ ]:
# import requests
# import pandas as pd

# response = requests.get("http link form the crm admin", header = {"Authentiacation" : Bearer "TOKEN"}) # this all will get from the CRM admin
# json_data = response.json() # converting the data into json
# records = json_data['data'] # extrect the the data part which contains the lead
# df = pd.Dataframe(records) # converting the json into pandas dataframe
# print(df.head()) # now the expected output will be in the structure form like a tabular data

## write sql database connection for prectice

In [ ]:
import pyodbc
import pandas as pd

conn = (
    "Driver = {Driver detail};"
    "Server = server details;"
    "Database = database details;"
    "Trusted_connection= yes" # Authentication details
)
query = "SELECT column_name, column_name2 FROM Table"

df = pd.read_sql(query, conn)
print(df.head())

## Write the script to connect with API of CRM for practic

In [ ]:
import requests
import pandas

connection = requests.get("http link of crm api",header = {"Authentication" : Bearer "TOKEN"}) # this details will get from the CRM admin
json_file = connection.json() # data trasfoemation done to json from crm data
records = json_file['data'] # extract the data part from the json file
df = pd.Dataframe(records)  # json file to pandas dataframe to make it structured
print(df.head()) # Now we can expect the tabular form data here

In [37]:
import pandas as pd
import requests 

# Simulated CRM API response
data = {
    "leads": [
        {
            "id": "1001",
            "name": "John Doe",
            "email": "john@example.com",
            "created_at": "2025-07-01T12:00:00Z",
            "address": {"city": "Delhi", "state": "Delhi"}
        },
        {
            "id": "1002",
            "name": "Jane Smith",
            "email": "jane@example.com",
            "created_at": "2025-07-02T12:00:00Z",
            "address": {"city": "Mumbai", "state": "Maharashtra"}
        }
    ]
}

# df = pd.json_normalize(data['leads']) # json_normalize is the flatining function from json data to structured tabular data
# df.head()

record = data['leads']
df = pd.json_normalize(record)
print(df.head())

     id        name             email            created_at address.city  \
0  1001    John Doe  john@example.com  2025-07-01T12:00:00Z        Delhi
1  1002  Jane Smith  jane@example.com  2025-07-02T12:00:00Z       Mumbai

  address.state
0         Delhi
1   Maharashtra

In [43]:
df.rename(columns={'address.city' : 'city' }, inplace = True)

In [47]:
df.columns

Index(['id', 'name', 'email', 'created_at', 'city', 'address.state'], dtype='object')

In [59]:
df.rename(columns={'address.state' : 'state'},inplace = True)
df.columns

Index(['id', 'name', 'email', 'created_at', 'city', 'state'], dtype='object')

In [61]:
df.columns

Index(['id', 'name', 'email', 'created_at', 'city', 'state'], dtype='object')

In [65]:
print(df.head())

     id        name             email            created_at    city  \
0  1001    John Doe  john@example.com  2025-07-01T12:00:00Z   Delhi
1  1002  Jane Smith  jane@example.com  2025-07-02T12:00:00Z  Mumbai

         state
0        Delhi
1  Maharashtra

## Q1. Filter and Aggregate
## You have a DataFrame df with columns: customer_id, order_date, order_amount.
## Task:
## Get the total order amount per customer for orders made in June 2025.

In [ ]:
import pandas as pd
# filter the data for June 2025

df['order_date'] = pd.to_datetime(df['order_date']) # convert the 'order_date' into datetime format for filter the data

# filter data for 2025
june_2025 = df[(df['order_date'].dt.year == 2025) & (df['order_date'].dt.month == 6)]

# total order amount per customer
result = june_2025.groupby('customer_id')['order_amount'].sum().reset_index()

# rename the column for clarify
result.rename(columns={'order_amount' : 'total_order_amount'}, inplace = True)

print(result)

### Data Cleaning Given a column df['email'], remove all rows where the value is null or doesn't contain "@".

In [ ]:
df = df.dropna(subset = ['email'])

df = df[df['email'].str.contains('@')]

## Date Operations

Given a DataFrame df with a column order_date in string format ('YYYY-MM-DD'),
Task:
Convert it to datetime and extract the year and month into new columns.

In [ ]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['year'] = pd.to_datetime['order_date'].dt.year
df['months'] = pd.to_datetime['order_date'].dt.month

### Q4. Apply & Custom Function
You have a column price and you want to apply a 10% discount to products priced above ₹500.

In [ ]:
def discounted_price(price):
    if price > 1000:
        return price * 0.90 # discounted price
    else 
        return price

df['discount'] = df['price'].apply(discounted_price)

### Q5. GroupBy Logic
Given a DataFrame sales with product_id, region, and revenue,
Task:
Find the top-selling product in each region based on total revenue.

In [ ]:
import pandas as pd

# Group by region and product_id, and sum the revenue
region_product_sales = sales.groupby(['region', 'product_id'])['revenue'].sum().reset_index()

# Rank the products by revenue within each region
region_product_sales['rank'] = region_product_sales.groupby('region')['revenue'] \
                                                   .rank(method='dense', ascending=False)

# Filter only top-selling products (rank 1)
top_selling = region_product_sales[region_product_sales['rank'] == 1]

print(top_selling)